@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="alert alert-info" role="alert">
        <div class="text-center">
            <h1><strong>ENB.ApartmentRentals (.NET 6)</strong></h1>
        </div>
    </div>
    <div class="text-center">
        <img src="~/Images/apartmentg.png" class="rounded mx-auto d-block" alt="Responsive image" width="1000" />
    </div>
</div>