@model ENB.Mvc.ApartmentRentals.Models.DisplayApartmentFacility

<div>
    
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facilitycode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facilitycode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other_facility_details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other_facility_details)
        </dd>
    </dl>
</div>
